<div id="pageintro" style="background-image: url('./assets/img/castle.jpg')" class="hoc clear">
    <article>
        <h3 class="heading">Escuela Hogwarts</h3>
        <p>Escuela hogwarts, institucion donde aprendes magia.
        </p>
    </article>
</div>

<!-- Content -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- Casas -->
        <section id="introblocks">
            <div class="sectiontitle">
                <h2 class="heading">Casas</h2>
            </div>
            <br>
            <div class='row listShow'>
                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='houses' (click)="redirect('Gryffindor')">
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/grif.png' class='image_house' alt='Gryffindor' width="300">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Gryffindor</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='houses' (click)="redirect('Hufflepuff')">
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/huffle.png' class='image_house' alt='Hufflepuff' width="300">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Hufflepuff</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='houses' (click)="redirect('Ravenclaw')">
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/raven.png' class='image_house' alt='Ravenclaw' width="300">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Ravenclaw</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='houses' (click)="redirect('Slytherin')">
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/sly.png' class='image_house' alt='Slytherin' width="300">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Slytherin</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </section>
        <!-- EndCasas -->
        <div class="clear"></div>
        <br><br><br><br><br><br><br><br><br><br><br>

        <!-- Fundadores -->
        <section id="introblocks">
            <div class="sectiontitle">
                <h2 class="heading">Fundadores</h2>
            </div>
            <br>
            <div class='row listShow'>
                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='leader'>
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/fundadores/fundador_1.jfif' alt='Godric Gryffindor' width="150">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Godric Gryffindor</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='leader'>
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/fundadores/fundador_4.jfif' alt='Helga Hufflepuff' width="150">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Helga Hufflepuff</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='leader'>
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/fundadores/fundador_3.jfif' alt='Rowena Ravenclaw' width="300">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Rowena Ravenclaw</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class='col-lg-3 col-md-12 col-sm-12 col-12'>

                    <div class='leader'>
                        <article>
                            <div class='row'>
                                <div class='col-12'>
                                    <img src='./assets/img/fundadores/fundador_2.jfif' alt='Salazar Slytherin' width="300">
                                </div>
                                <div class='col-12'>
                                    <h6 class="heading">Salazar Slytherin</h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </section>
        <!-- EndFundadores -->
    </main>
</div>
<!-- EndContent -->