<br><br><br><br>
<div class="wrapper row3" id='bg_castle_black' style="background-image: url('./assets/img/bg-black2.jpg')">
    <main class="hoc container clear">
        <div class="content">
            <div class='row'>
                <div class='col-lg-12 col-sm-12 col-12'>
                    <div class="box_site clear btmspace-50">
                        <h1>Solicitudes de nuevos estudiantes</h1>
                    </div>
                </div>
            </div>

            <br><br><br><br>
            <div class="clear btmspace-50">
                <div class='row'>

                    <div class='col-lg-12 col-md-12 col-sm-12 col-12'>

                        <article>
                            <div class='row'>
                                <div class='col-12 studentsBox' *ngFor='let d of students'>
                                    <div class="comments-list">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading user_name">{{ d.name }}</h4>
                                                <div class='row desc'>
                                                    <div class='col-12 pick'>
                                                        <div class='row'>
                                                            <div style='cursor:pointer;' (click)='acceptStudent(d.name)' title='Aceptar estudiante' class='col-lg-6 col-sm-12 col-12'>
                                                                <i class="fab fa-get-pocket"></i>
                                                            </div>
                                                            <div style='cursor:pointer;' (click)='declineStudent(d.name)' title='Rechazar estudiante' class='col-lg-6 col-sm-12 col-12'>
                                                                <i class="fas fa-times-circle"></i>
                                                            </div>
                                                        </div>
                                                    </div><br><br><br><br><br><br>
                                                    <div class='col-lg-4 col-md-4 col-sm-12 col-12'><b>Edad:</b> {{ d.age }}</div>
                                                    <div class='col-lg-4 col-md-4' col-sm-12 col-12><b>Sexo:</b> <span class='noTouch'
                                                        *ngIf="d.gender == 'male'"> Hombre</span><span class='noTouch'
                                                        *ngIf="d.gender =='female'"> Mujer</span></div>
                                                    <div class='col-lg-4 col-md-4 col-sm-12 col-12'><b>Patronus:</b> <span
                                                        class='noTouch' *ngIf="d.patronus != ''"> {{ d.patronus }}</span></div>
                                                </div>
                        
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </article>

                    </div>

                </div>

            </div>
        </div>
        <div class="clear"></div>
    </main>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            
        </div>
    </div>
</div>